<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <!-- Favicons -->
<link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
<link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<!--external css-->
<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/zabuto_calendar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/gritter/css/jquery.gritter.css') }}" />
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style-responsive.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='lib/chart-master/Chart.js') }}"></script>