<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>
        <li class="mt">
          <a class="active" href="dashboard">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
          <a href="behavior">
            <i class="fa fa-desktop"></i>
            <span>Student Behaviorial</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="forms"><span><i class="fa fa-tasks"></i></span>Form</a>
        </li>
       
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-th"></i>
            <span>Records</span>
            </a>
          <ul class="sub">
            <li><a href="basic_table.html">Student Information</a></li>
          </ul>
        </li>
    </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>