/* Welcome user message */

.btn-secondary {
    color: #fff;
    background-color: #b7b4b2!important;
    border-color: #c3c2c1!important;
}
/*form_component*/

.doc_form{
    display: inline-block;
}
.doc_form img {
    vertical-align: top!important;
    margin-left: 50px!important;
}
.download_form{
    display: inline;
}

.submit-file-btn{
    color: black!important;
    background-color: #efefef!important;
}

.dwlnd {
  font-size: 15px!important;
}


/* basic_table - font size increase */

table.table a {
    margin: 0;
    color: #212529;
    font-size: 15px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #ddd;
  font-size: 18px;
}

/* showdoc */
/* display the image in the center screen */
.center
{
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

/* form_component page*/
.fullreport-btn {
    text-transform: none;
    position: absolute;
}

.btn-theme04 {
    color: #fff;
    background-color: #ed5565;
    border-color: #da4453;
    font-size: 20px;
}


/* dashboard - content , activity logs */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* apply a natural box layout model to all elements, but allowing components to change */

.wrapper h1 {
    font-size: 45px!important;
    font-weight: 470!important;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 20px;
}

.activity-feed {
  padding: 15px;
}
.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #f7a9a8;
}
.activity-feed .feed-item:last-child {
  border-color: transparent;
}
.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #f37167;
}
.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 30px;
}

/* studentinfo */
.ml-auto, .mx-auto {
  margin-left: 0!important;
  padding-top: 30px;
}

.mr-auto, .mx-auto {
  margin-right: 0!important;
}
.d-block {
  display: block!important;
}