{% extends 'layout.html' %}

{% block body %}
<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
      {% if session['fullname']!=None %}
      <h5 class="centered">{{session['fullname']}}</h5>
      {% endif %}
      <li class="mt">
        <a class="active" href="dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="behavior">
          <i class="fa fa-desktop"></i>
          <span>Student</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="forms"><span><i class="fa fa-tasks"></i></span>Form</a>
      </li>

      </li>
      <li class="sub-menu">
        <a href="records">
          <i class="fa fa-th"></i>
          <span>Records</span>
        </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<section id="container">
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div>
        <h1>Activity logs: </h1>
        <div class="activity-feed">
          {% for data in activity_log %}
          <div class="feed-item">
            <div class="date">{{data[2]}}</div>
            {% if data[3]=='1' %}
            <div class="alert alert-success">
              {% elif data[3] =='2' %}
              <div class="alert alert-danger">
                {% endif %}
                {{data[1]}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- /row -->
    </section>
  </section>
  <!--main content end-->
  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      <a href="index.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}