{% extends 'layout.html' %}

{% block body %}
<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
      {% if session['fullname']!=None %}
      <h5 class="centered">{{session['fullname']}}</h5>
      {% endif %}
      <li class="mt">
        <a href="dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="behavior">
          <i class="fa fa-desktop"></i>
          <span>Student</span>
        </a>
      </li>
      <li class="sub-menu">
        <a class="active" href="forms"><span><i class="fa fa-tasks"></i></span>Form</a>
      </li>

      </li>
      <li class="sub-menu">
        <a href="records">
          <i class="fa fa-th"></i>
          <span>Records</span>
        </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<section id="container">
  <section id="main-content">
    <section class="wrapper">
      <h1><i class="fa fa-angle-right"></i> Student's Incident - Disiplinary Reports</h1>
      <!-- BASIC FORM ELELEMNTS -->
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <h2 class="mb"><i class="fa fa-angle-right"></i>Today's Uploaded Documents</h2>
            <h3>Click docs to view</h3>
            {% if images!=None %}
            {% for img_url in images %}
            <a href="docs/form?imageUrl={{img_url}}">
              <button class="btn-theme04 fullreport-btn">FULL REPORT</button>
            </a>
            <img src="{{ url_for('static', filename='docs/' + img_url) }}" height="700px" width="430px" />
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <!-- col-lg-12-->
      </div>
      <!-- BASIC FORM ELELEMNTS -->
      <div class="row mt">
        <div class="col-xlg-12">
          <div class="form-panel">
            <form enctype="multipart/form-data" method="POST" action="upload" class="lg-form">
              <div class="file-field">
                <div class="btn btn-primary btn-lg float-left">
                  <span>Forms</span>
                  <input type="file" name="filetoupload">
                  <button class="submit-file-btn">Submit file</button>
                </div>
              </div>
            </form>
            <h4 class="mb"><i class="fa fa-angle-right"></i>Upload Documents</h4>

          </div>
        </div>
        <!-- col-lg-12-->
      </div>
      <!-- /row -->

      <!-- /row -->
      <!-- INPUT MESSAGES -->
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Download Forms</h4>
            <div class="download_form"><a class="dwlnd" href="{{ url_for('static',filename='forms/disciplinaryform.pdf') }}"
                download><i class="fa fa-download " aria-hidden="true"></i> Download Discipline</a></div>
            <div class="doc_form"><img class="img_doc" width="450px" height="550px"
                src="{{ url_for('static',filename='img/discipline_pic.png') }}" alt=""></div>
            <div class="download_form"><a class="dwlnd" href="{{ url_for('static',filename='forms/IncidentReportForm.pdf') }}"
                download><i class="fa fa-download " aria-hidden="true"></i> Download Incident</a></div>
            <div class="doc_form"><img class="img_doc" width="450px" height="550px"
                src="{{ url_for('static',filename='img/incident_pic.png') }}" alt=""></div>
          </div>
          <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
      </div>
      <!-- /row -->

    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">

      <a href="forms" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end--
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static',filename='lib/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}