<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HPS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='markup.css') }}">
  <style>
    .errormsg_span {
      padding-right: 30px;
    }
  </style>
</head>
<!-- Full Page Image Header with Vertically Centered Content -->

<body>

  <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light bg-light ">
    <img width="" height="40px" src="{{ url_for('static',filename='img/haverhillogo.jpeg') }}" alt="">
    <a class="navbar-brand" href="#">Haverhill Public Schools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <!-- Will return the validateform() function as true or false depending on login -->
      <form action="login" method="POST" name="loginform" class="form-inline my-2 my-lg-0">
        {% block content %}
        {% if error %}
        <span class="errormsg_span" style="color:red">{{ message }}</span>
        {% endif %}
        {% endblock content %}
        <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username">
        <input type="password" name="password" class="form-control mr-sm-2" placeholder="Password">

        <button class="btn btn-secondary" type="submit">Log in</button>
      </form>
    </div>
  </nav>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light"><b>Welcome To Haverhill Public Schools</b></h1>
          <p class="lead">A caring educational partnership of school, family and community</p>
        </div>
      </div>
    </div>
  </header>
</body>

</html>