<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <style>.welcome_message_name {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
        margin-top: 1.5rem !important;
        padding-right: 20px !important;
        color: aliceblue;
        font-size: 18px;
    }</style>
    {% include 'includes/_dashlinks.html' %}
    {% include 'includes/_generallinks.html' %}
    {% include 'includes/_formcomplinks.html' %}
    {% include 'includes/basictablelinks.html' %}
<title>HPS</title>
</head>
<body>
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="dashboard" class="logo"><b>HPS<span>PORTAL</span></b></a>
        <!--logo end-->
    
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            {% block content %}
            {% if session['fullname']!=None %}
            <li ><p class="welcome_message_name">Welcome, {{session['fullname']}}</p></li>
            {% endif %}
            {% endblock content %}
            <li><a class="logout" href="logout">Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->
    {% block body %}
    {% endblock %}
</body>
</html>