<!DOCTYPE html>
<html lang="en">
<head>
    <!--external css-->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='backupcs/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='backupcs/addons/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mycss/my.css') }}" rel="stylesheet">
    <style>.welcome_message_name {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
        margin-top: 1.5rem !important;
        padding-right: 20px !important;
        color: aliceblue;
        font-size: 18px;
    }</style>
<title>HPS</title>
</head>
<body>
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="dashboard" class="logo"><b>HPS<span>PORTAL</span></b></a>
        <!--logo end-->
    
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            {% block content %}
            {% if session['fullname']!=None %}
            <li ><p class="welcome_message_name">Welcome, {{session['fullname']}}</p></li>
            {% endif %}
            {% endblock content %}
            <li><a class="logout" href="logout">Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->
    {% block body %}
    {% endblock %}
</body>
</html>